*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.project-title {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: white;
  letter-spacing: 2px;
  /* mix-blend-mode: difference; */
  text-align: center;
  margin-top: 6rem;
}

.project-title p {
  font-size: small;
}

.container {
  background-color: #fff;
  width: 400px;
  padding: 50px 30px;
  position: relative;
  /* transform: translate(-50%, -50%); */
  /* top: 50%;
  left: 50%; */
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.container *:not(i) {
  font-family: "Poppins", sans-serif;
}

.colors {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100px;
  height: 45px;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 20px;
  border: none;
}

.change-direction {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0 30px 0;
}

.buttons button {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 2px solid #d5d5dc;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  border: none;
  background-color: #008b87;
  color: #fff;
}

.rotate-icon i {
  transform: rotate(45deg);
}

.buttons .active {
  border: none;
  background-color: #00a8a3;
  color: #fff;
}

#submit {
  display: block;
  background-color: #00a8a3;
  color: #fff;
  font-size: 16px;
  padding: 12px 70px;
  border-radius: 25px;
  margin: 0 auto 30px auto;
  cursor: pointer;
  transition: 0.3s;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #f0f2fc;
}

#code {
  width: 100%;
  resize: none;
  color: #30304a;
  padding: 10px 20px;
  background-color: transparent;
}

.copy-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

em {
  font-size: 10px;
}

#copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65px;
  font-size: 14px;
  background-color: #00a8a3;
  color: #fff;
  position: relative;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#copy i {
  color: #e9e9e9;
  padding: 0 5px 0 5px;
}

#submit:hover,
#copy:hover {
  background-color: #008b87;
}
